<h1>Hola mundo</h1>
<br>
{{title}}
<br>
<input type="text" [(ngModel)]="title">
<br>
<button (click)="cambiarTitulo()">Boton</button>
<hr>

<!-- Ejercicio Clase 1 -->
<h1>Ejercicio Clase 1</h1>
<label>Edad 1: </label> <input type="number" [(ngModel)]="edad1"><br><br>
<label>Edad 2: </label> <input type="number" [(ngModel)]="edad2"><br><br>

<button (click)="promedioSuma()">Promedio y Suma</button>
<button (click)="borrar()">Borrar</button> <br><br>

<label> <b>Resultado promedio:</b>  {{resultadoPromedio}}</label><br>
<label><b>Resultado suma:</b> {{resultadoSuma}} </label>

<router-outlet></router-outlet>
